*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
body{
    height: 60000px;
}
.header{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    position: fixed;
    width: 100%;

    
    
}
.logo{
      width: 98px;
      height: 34px;
      margin-right: 88px;
      
}
.home{
    width: 43px;
    height: 20px;
    color: #FB2E86;
}
.header ul{
    display: flex;
    gap: 35px;
}
.header .list p:hover{
    color: #483c9c57;
    font-size: 25px;
}
.header .list a{
    transition: 0.5s;
}

.header .list i:hover{
    color: #483c9c57;
    font-size: 20px;
}
.header .list i:hover{
    transition: 0.5s;
}
.homeColor{
    color: #FB2E86;
}
.home{
    display: flex;
    gap: 2px;
    align-items: center;
    
    
}

i{
    color:#FB2E86;
}

.button{
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
}
.header input{
    border: 0;
}
.header button{
    border: 0;
}
.search-form{
    margin-left: 227px;
    border: 2px solid #E7E6EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form img{
    background-color: #FB2E86;
    color: #000000;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    


}
.menu {
    display: none;
}
@media screen and (min-width: 0) and (max-width: 600px) {
    .header .search-form,
    .header .list{
        display: none;
    }
    .menu{
        display: block;

    }
}