*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
body{
    height: 60000px;
}
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
     margin: 0;
    padding: 20px 0;
    /*position: fixed;
    top: 0;*/
    position: sticky;
    top: 0;
}
.logo{
      width: 98px;
      height: 34px;
      margin-right: 88px;
      
}
.home{
    width: 43px;
    height: 20px;
    color: #FB2E86;
}
.header ul{
    display: flex;
    gap: 35px;
}
.header .list p:hover{
    color: #483c9c57;
    font-size: 25px;
}
.header .list a{
    transition: 0.5s;
}

.header .list i:hover{
    color: #483c9c57;
    font-size: 20px;
}
.header .list i:hover{
    transition: 0.5s;
}
.homeColor{
    color: #FB2E86;
}
.home{
    display: flex;
    gap: 2px;
    align-items: center;
}

i{
    color:#FB2E86;
}

.button{
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
}
.header input{
    border: 0;
}
.header button{
    border: 0;
}
.search-form{
    margin-left: 227px;
    border: 2px solid #E7E6EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form img{
    background-color: #FB2E86;
    color: #000000;
    width: 24px;
    height: 24px;
    margin-top: 8px;

}
.menu {
    display: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container{
  /*padding: 105px 310px;*/
  padding: 100px 100px;

}
.hero{
    margin-top: 80px;
    background-image: url('./../image/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.hero-content{
    width: 350px;
    color: #151875;
    text-align: center;
}
.hero button{
    margin-top: 28px;
    width: 173px;
    height: 49px;
    border: 0px solid ;
    background-color: #FB2E86;
    color:#FFFFFF;
}

/*start footer */
.footer{
    padding: 50px 0;
    
}
.footer .logo{
    margin-bottom: 46px;
}
.footer input{
    border: 0;
    height: 40px;
    width: 242px;
    /*padding: 10px 5px;*/
}
/*.button2{
    border: 0;
    height: 48px;
    width: 135px;
    background-color: #FB2E86;
    
    
}
.search-form2{
    border: 2px solid #E7E6EF;
    display: flex;
    width: fit-content;
    margin-bottom: 27px;
   
}
.search-form2 input{
    border: none;
    height: 48px;
    width: 242px;
    padding: 0 10px;
}
.search-form2 .button2{
    border: none;
    width: 135px;
    height: 48px;
    background-color: #FB2E86;
    color: #FFFFFF;
}*/
/*.footer-left-side .search-form button{
    border: 0;
    height: 48px;
    width: 135px;
    background-color: #FB2E86;
    color:#EEEFFB;
    
}*/
.footer-left-side .search-form form{
    border: 2px solid #E7E6EF;
    display: flex;
    width: fit-content; 
}
.footer-left-side .search-form{
    margin-bottom: 27px;
    margin-left: 0px;
}
.footer-left-side .search-form input{
    border: none;
    height: 48px;
    width: 242px;
    padding: 0 10px;
    margin: 0;
    
}
.footer-left-side .search-form button{
    border: none;
    width: 135px;
    height: 48px;
    background-color: #FB2E86;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
/*.footer .footer-left-side form{
    display: flex;
    margin-left: 20px;
}

.footer .footer-left-side .search-form2{
    border: 2px solid #E7E6EF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

}*/

/*.footer .search-form{
    margin: 0;
    border: 2px solid #E7E6EF;
    display: flex;
    justify-content: center;
}*/


.footer .container {
    background-color: #FFFFFF;
    
}
.footer .row{
    align-items: flex-start;
}
.footer .footer-left-side{
    width: calc( (100% - 20px) / 2 );
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer .footer-right-side{
    width: calc( (100% - 20px) / 2 ); 
}
.footer .footer-left-side p{
    color:#8A8FB9;

}
.footer .footer-right-side .pargrapheColor{
    color:#8A8FB9;
    margin-bottom: 23px;
}
.footer .footer-right-side .addresses{
    margin-bottom: 46px;
}
/*end footer */
@media screen and (min-width: 0) and (max-width: 600px) {
    .header .search-form,
    .header .list{
        display: none;
    }
    .menu{
        display: block;

    }
    .footer .footer-left-side,.footer .footer-right-side{
        width: 100%;
    }
}